<script>
  $(function() {
    console.log('ready');
    var count = 0;
    $('#addEmail').on('click', function(e){
      $('#emails ul').append('<li id="emailInput'+(count++)+'"><%= text_field_tag "user_emails[]", params[:email] %><a href="javascript:void()" class="removeEmail" onclick="removeEmail(this)">Remove</a></li>');
    });
  });
  function removeEmail(item){
    $(item).parent().remove();
  }
</script>
<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div id="emails">
    <ul>
      <%= @group.users.each do |user| %>
        <li>
        <%= user.email %><%= link_to "Remove", group_user_path(GroupUser.where(user_id:user, group_id: @group)[0]), :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>

  <a class="add_email btn" id="addEmail">Add user</a>

  <%= f.association :polls %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
