<script>
  $(function() {
    console.log('ready');
    var count = 0;
    $('#addEmail').on('click', function(e){
      $('#emails ul').append('<li id="emailInput'+(count++)+'"><%= text_field_tag "user_emails[]", params[:email] %><a href="javascript:void()" class="removeEmail" onclick="removeEmail(this)">Remove</a></li>');
    });
  });
  function removeEmail(item){
    $(item).parent().remove();
  }
</script>

<%= simple_form_for @group, :html => { :class => "form-horizontal"} do |f| %>
  <%= f.error_notification %>

<h3>People</h3>
<div>Adding some rockstars to this party will give them the same access &mdash; to create and edit polls and view results &mdash; as you. (To share results only, go to the survey page. From there, you can export a CSV or print the webpage to PDF.)</div>
<br>
  <div id="emails">

    <%= f.input :name, :label => "1", :placeholder => current_user.email, :disabled => true, :hint => "You’re automatically a member of any group you create" %>

    <%= f.input :name, :label => "2", :placeholder => "Add an email address" %> 
    
    <ul>
      <% @group.users.each do |user| %>
        <li>
        <%= user.email %>
        <%= link_to "Remove", group_user_path(GroupUser.where(user_id:user, group_id: @group)[0]), :method => :delete %> 
        </li>
      <% end %>
    </ul>

    <%- if @group.errors.messages && @group.errors.messages[:users] -%>
      <ul>
        <div class="control-group error">
          <%- @group.errors.messages[:users].each do |message| -%>
            <li class="help-block"><%= message[0] -%></li>
          <%- end -%>
        </div>
      </ul>
    <%- end -%>
  </div>

  <a class="add_email btn" id="addEmail">Add user</a>

<div style="display:none;">
  <%= f.association :polls, :collection => current_user.visible_polls %>
</div>

<hr>

<h3>Settings</h3>
  <div class="form-inputs">
    <%= f.input :name, :label => "Group name", :hint => "E.g. 'Philadelphia2035' or 'Chattanooga Regional Planning'" %>
    <%= f.input :name, :label => "Preferred area code",
      :collection =>@group.get_exchanges,
      :label_method => lambda {|i| "#{i['prefix']} (#{i['city']}, #{i['state']}, #{i['country']})"},
      :value_method => lambda {|i| i["prefix"]}
    %>
    <%= f.input :name, :label => "Timezone",
      :collection=>[
        ['Eastern Time','EST'],
        ['Central Time','CST'],
        ['Mountain Time','MST'],
        ['Pacific Time','PST'],
        ['Alaska Time','AKST'],
        ['Hawaii Time','HST']
        ], :selected => "EST", :hint => "Used to timestamp responses. Maybe punted to v3" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', groups_path, :class => 'btn btn-large' %>
  </div>
<% end %>
