<script language="text/javascript">
  $(document).ready(function() {
    $('#owner').bind('insertion-callback',
    function() {
      $("#owner_from_list").hide();
      $("#owner a.add_fields").hide();
    });
  });
</script>
<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <%= @group.users.each do |user| %>
    <%= user.email %>
  <% end %>

  <%= f.association :users %>
  <%= f.association :polls %>


  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
