<div class="row">
  <div class="span12 main">
  <div class="grouptitle">My Groups</div>

    <table class="table pollslist">
      <% @groups.each do |group| %>
        <tr onClick="window.location.href='<%= edit_group_path(group) %>'">
          <td class="groupname"><%= group.name %></td>

          <td>
            <div class="dashboardresponsecount">5</div>
            <div class="caption">people</div>
          </td>

          <td>
            <div class="dashboardresponsecount">8</div>
            <div class="caption">polls</div>
          </td>
          
          <td>
            <%= link_to(raw('<i class="icon-user"></i>Show'), edit_group_path(group)) %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to(raw('<i class="icon-trash"></i>Destroy'), group, confirm: 'Are you sure?', method: :delete) %>
          </td>

        </tr>
      <% end %>
    </table>


    <br />

    <%= link_to 'New Group', new_group_path, :class => "btn btn-large" %>

  </div>
</div>