<div class="nested-fields followup-field">
  
  <%= f.input :text, :as => :text, :label => 'Followup', :label_html => { :class => "label-bold" }, :input_html => { :class => "input-xlarge", :rows => 2 }, :hint => (link_to_remove_association '×', f, :class => 'close remove-follow-up') %>
  <%= f.input :question_type, :label => "Format" , :collection=>[['Open','OPEN'],['Multiple Choice','MULTI'],['Yes / No', 'YN']], :include_blank => false, :disabled => (!@poll.new_record? and !@poll.responses.empty?), :input_html => { :class => "followup-type span2" }%>

  <div class="options">	
    <%= f.simple_fields_for :options do |option| %>
      <%= render 'follow_up_option_fields', :f => option %>
    <% end %>

    <%= link_to_add_association 'Add followup option', f, :follow_up_options, :"data-association-insertion-method" => :append, :class => "controls add-followup-option-button" %>
  </div>
</div>