<div class="nested-fields followup-field">
  
  <%= f.input :text, :label => 'Followup Question:', :label_html => { :class => "label-bold" } , :hint => (link_to_remove_association '×', f, :class => 'inline btn btn-danger btn-mini remove-follow-up') %>
  <%= f.input :question_type, :label => "Type:" , :collection=>[['Open','OPEN'],['Multiple Choice','MULTI'],['Yes / No', 'YN']], :input_html => { :class => "followup-type" }%>

  <div class="options">
    <%= f.simple_fields_for :options do |option| %>
      <%= render 'option_fields', :f => option %>
    <% end %>

    <%= link_to_add_association 'Add followup option', f, :options, :partial => 'polls/follow_up_option_fields', :class => "controls add-followup-option-button" %>
  </div>
</div>
