<%= simple_form_for @poll, :html => { :class => "form-horizontal"} do |f| %>

  <hr>
  <h3>Script</h3>
  <%= f.simple_fields_for :questions do |question| %>
    <%= render 'question_fields', :f => question %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add question', f, :questions %>
  </div>
  <h3>Settings</h3>
  <%= f.input :title, :hint => "How we'll refer to the poll in text messages and reports" %>
  <% unless Rails.env.development? %>
    <%= f.input :phone, :hint => "Automatically assigned" %>
  <% else %>
    <%= f.input :phone, :hint => "Enter test phone number" %>
  <% end %>
 
  <div class="field" style="display:none;">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.input :end_date, :as => :date %>
  </div>


<div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', @poll, :class => 'btn btn-large' %>
</div>
<% end %>
