<%= simple_form_for @poll do |f| %>
  <%= f.input :title, :hint => "This is how we'll refer to the poll in text messages and reports" %>
  <%= f.simple_fields_for :questions do |question| %>
    <%= render 'question_fields', :f => question %>
  <% end %>

  <%= f.input :phone, :disabled => true, :hint => "Automatically assigned" %>
 
  <div class="field" style="display:none;">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.input :end_date, :as => :date %>
  </div>
  <div class="links">
    <%= link_to_add_association 'add question', f, :questions %>
  </div>

<div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', @poll, :class => 'btn btn-large' %>
</div>
<% end %>
