<% content_for :javascript_includes do %>
  <%= javascript_include_tag "form-filling.js" %>
<% end %>

<%= simple_form_for @poll, :html => { :class => "form-horizontal"} do |f| %>
  <script>
    function togglePhone(){
      console.log('toggle');
      var phoneInput = $('#poll_phone')
      phoneInput.prop('disabled', function(i,v){ console.log(v); return !v; });
      phoneInput.toggleClass('disabled');
    }
  </script>

  <h3>Script</h3>
  <%= f.simple_fields_for :questions do |question| %>
    <%= render 'question_fields', :f => question %>
  <% end %>

  <div class="links">
    <br>
    <%= link_to_add_association 'Add Question', f, :questions, :class => "btn" %>
  </div>

  <hr>

  <h3>Settings</h3>
  <%= f.input :title, :label => "Nickname", :hint => "For messages, e.g. \"Thanks for responding to our survey on [nickname]\"" %>
  <%= f.input :phone, :hint => "<input type='checkbox' name='auto_assign' onClick='togglePhone()' class='alignbox'></input> Automatically assign?", :disabled => "false" %>
  <!--<input type="checkbox" name="auto_assign" onClick="togglePhone()"></input>-->

  <div class="field" style="display:none;">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <fieldset>
      <div class="control-group">
          <%= f.label :end_date, :class => "control-label" %>
        <div class="controls">
          <%= f.date_select(:end_date, {:use_short_month => 1, :order => [:month, :day, :year]}, {:class => "span1"}) %>
        </div>
      </div>
  </fieldset>
  </div>

<div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
    <%= link_to 'Cancel', @poll, :class => 'btn btn-large' %>
</div>
<% end %>
