<script>
  function togglePhone(){
    console.log('toggle');
    var phoneInput = $('#poll_phone')
    phoneInput.prop('disabled', function(i,v){ console.log(v); return !v; });
    phoneInput.toggleClass('disabled');
  }
  <% if @editing %>
    var initEditing = true;
    $(document).ready(function(){
      $('.followup-field').trigger('insertion-callback');
      $('select.question-type').trigger('change');
      $('select.followup-type').trigger('change');
      initEditing = false;

    });
  <% end %>
</script>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "form-filling.js" %>
<% end %>
<%= simple_form_for @poll, :html => { :class => "form-horizontal"} do |f| %>

  <div class="row">
    <div class="span8">

      <h3>Questions</h3>
      <div class="item-container">
        <%= f.simple_fields_for :questions do |question| %>
          <%= render 'question_fields', :f => question %>
        <% end %>

        <div class="form-actions">
          <%= link_to_add_association '+ Add Question', f, :questions, :class => "btn btn-large btn-success", :id => 'add_qn_button' %>
          <!-- Javascript to "click" the add question button (hackaround!) -->
          <script type="text/javascript">
            document.getElementById('add_qn_button').click();
          </script>
        </div>
      </div>


      <h3>Settings</h3>
      <div class="item-container">
        <div class= "nested-fields spacing">
          <%= f.input :title, :label => "Confirmation", :placeholder => "Thanks for your feedback! More info: [your organization's website", :as => :text , :input_html => { :rows => 3 } %>
          <%= f.input :title, :label => "Nickname", :hint => "Only for reports. Example: \"15 responses this week to your poll on ________.\"" %>
          <%= f.input :phone, :hint => "<input type='checkbox' name='auto_assign' onClick='togglePhone()' class='alignbox'></input> Automatically assign?", :disabled => "false" %>
          <!--<input type="checkbox" name="auto_assign" onClick="togglePhone()"></input>-->

          <div class="field" style="display:none;">
            <%= f.label :start_date %>
            <%= f.datetime_select :start_date %>
          </div>

          <div class="field">
            <fieldset>
              <div class="control-group">
                  <%= f.label :end_date, :class => "control-label" %>
                <div class="controls">
                  <%= f.date_select(:end_date, {:use_short_month => 1, :order => [:month, :day, :year]}, {:class => "span1"}) %>
                </div>
              </div>
          </fieldset>
          </div>
        </div>

        <div class="form-actions">
            <%= f.button :submit, :class => 'btn btn-large btn-primary' %>
            <%= link_to 'Cancel', @poll, :class => 'btn btn-large' %>
        </div>
      </div>
    </div>

    <div class="span4" id="form_sidebar">
      hello world!
    </div>
  </div>
<% end %>
