<% unless question.nil? %>
  <% num_entries ||= 7 %>
  <table>
    <% Poll.response_histogram(question.responses).slice(0, num_entries).each do |h| %>
      <tr style='font-size:<%= 0.8+h[1]/20.0 %>em' class='histogram-pair'>
        <td class='histogram-word'>
          <%= h[0].strip %><% unless question.options.empty? %>: <%= question.get_matching_option(h[0]) %><% end %>
        </td>
        <td class='histogram-count'>
          <%= h[1] %>
        </td>
        <td style='width:200px'>
          <div class='histogram-graph' style='width: <%= h[1]*8 %>px;'>&nbsp;</div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
