<div class="nested-fields option-field">

<%= f.input :text, :label => false, :input_html => {:class => 'option-text'},
  :hint => (@poll.new_record? or @poll.responses.empty?) ? link_to_remove_association('×', f, :class => 'close deleter') : '' + link_to("Add followup", '#', :class => "btn btn-mini add-followup-dummy") %>

  <%= f.input :value, :label => 'Option value', :as => :hidden, :input_html => {:class => 'option-value'} %>

  <%= f.simple_fields_for :follow_up, :wrapper => "bootstrap" do |followup| %>

    <%= render 'follow_up_fields', :f => followup %>

  <% end %>
  <% if @editing %>
    <script type="text/javascript">
      $(document).ready(function(){
          $('.followup-field').trigger('insertion-callback');
          });
    </script>
  <% end %>

  <div class="links tempmargin">
  <%= link_to_add_association 'Add followup', f, :follow_up , :class => "add-followup-button btn btn-mini" %>
  </div>
</div>
