<div class="nested-fields options">
  <fieldset>
    <%= f.input :text, :label => 'Option label', :hint => (link_to_remove_association "Remove option", f, :class => "inline") %>
    <%= f.input :value, :label => 'Option value' %>

    <%= f.simple_fields_for :follow_up do |followup| %>
      <%= render 'question_fields', :f => followup %>
    <% end %>
  </fieldset>
  <div class="links tempmargin">
    <%= link_to_add_association 'Add followup', f, :follow_up %>
  </div>
</div>
