<div class="nested-fields question-entry not-counted">
  <div class="msg-count"></div>
  <div class="msg-preview"></div>

  <%= link_to_remove_association raw("<button class=\"close questiondeleter\">&times;</button>"), f, :class => "top-right" %>

  <%= f.input :sequence, :as => :hidden %>

  <%= f.input :text, :label => "Question", :label_html => { :class => "label-bold" }, :as => :text, :input_html => { :class => "input-xlarge question-input", :rows => 2 } %>
  <%= f.input :question_type, :label => "Format" , :collection=>[['Open Ended','OPEN'],['Multiple Choice','MULTI'],['Yes / No', 'YN']], :include_blank => false, :disabled => (!@poll.new_record? and !@poll.responses.empty?), :input_html => { :class => "question-type span2" } %>

  <div class="options">

    <%= f.simple_fields_for :options, :wrapper => "bootstrap" do |option| %>
      <%= render 'option_fields', :f => option %>
    <% end %>

    <%= link_to_add_association 'Add option', f, :options, :"data-association-insertion-method" => :append, :class => "controls add-option-button"%>
    
  </div>
</div>
