<div class="nested-fields bottom-border">

  <%= f.input :sequence %>
  <%= f.input :text, :hint => (link_to_remove_association "Remove question", f, :class => "inline btn btn-danger") %>
  <%= f.input :question_type, :collection=>[['Open','OPEN'],['Multiple Choice','MULTI'],['Yes / No', 'YN']] %>

  
  <div class="options">
    <%= f.simple_fields_for :options do |option| %>
      <%= render 'option_fields', :f => option %>
    <% end %>
    <%= link_to_add_association 'Add option', f, :options %>
  </div>
</div>

