
<fieldset>
  <div class="control-group">
    <%= f.label :text, :class => "control-label"%>
    <div class="controls">
      <%= f.text_area :text, :rows => 3 %> <span class="help-inline">To be printed on posters</span>
    </div>
  </div>
</fieldset>
<fieldset>
  <div class="control-group">
    <%= f.label :question_type, :class => "control-label"%>
    <div class="controls">
      <%= f.select(:question_type, options_for_select([['Open','OPEN'],['Multiple Choice','MULTI'],['Yes/No', 'YN']],1)) %>
    </div>
    <div>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove Question" %>
    </div>
  </div>
</fieldset>
<%= f.fields_for :options do |builder| %>
  <%= render 'option_fields', :f => builder %>
<% end %>
