<div class="nested-fields">
<%= f.input :text, :hint => "To be printed on posters" %>
<%= f.select(:question_type, options_for_select([['Open','OPEN'],['Multiple Choice','MULTI'],['Yes/No', 'YN']],1)) %>
<%= link_to_remove_association "remove question", f %>
<div class="options">
<%= f.simple_fields_for :options do |option| %>
  <%= render 'option_fields', :f => option %>
<% end %>
<%= link_to_add_association 'add option', f, :options %>
</div>
</div>
