<div class="nested-fields question-entry">

  <%= link_to_remove_association raw("<div class=\"btn btn-danger\">&times;</div>"), f, :class => "top-right" %>

  <%= f.input :sequence, :as => :hidden %>

  <%= f.input :text, :label => "Question 1", :label_html => { :class => "label-bold" }, :as => :text, :input_html => { :class => "input-xlarge", :rows => 2 } %>

  <%= f.input :question_type, :label => "Format" , :collection=>[['Open','OPEN'],['Multiple Choice','MULTI'],['Yes / No', 'YN']], :input_html => { :class => "question-type span2" } %>

  <div class="options">

    <%= f.simple_fields_for :options, :wrapper => "bootstrap" do |option| %>
      <%= render 'option_fields', :f => option %>
    <% end %>

    <%= link_to_add_association 'Add option', f, :options, 
            :class => "controls add-option-button"%>
    
  </div>
</div>