<div class="container">
<div class="row">
    <div class="span8"><img src="/assets/logo.png"></div>
    <div class="span4 login">Logout</div>
</div>
<div class="row">
    <div class="span12 main">
        <div class="grouptitle">Lower Northeast</div>
            <table class="pollslist">
              <tr>
                <th></th>
                <th>Title</th>
                <th class="span3">Text</th>
                <th>Type</th>
                <th>Start date</th>
                <th>Responses</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>

            <% @polls.each_with_index do |poll, i| %>
              <tr>
                <td class="number"><%= i+1 %></td>

                <td class="polltitle"><%= poll.title %></td>
                <td class="polltext"><%= poll.text %></td>

                <td><%= poll.poll_type %></td>
                <td><%= poll.start_date.to_formatted_s(:short) %><br>Live since <%= time_ago_in_words(poll.start_date, include_seconds = false) %></td>
                <td><%= poll.responses.count %></td>
                <td><%= link_to 'Show', poll %></td>
                <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
                <td><%= link_to 'Destroy', poll, confirm: 'Are you sure?', method: :delete %></td>
              </tr>
            <% end %>
            </table>

            <br />

            <%= link_to 'New Poll', new_poll_path %>
        </div>
    </div>
</div>