<div class="container">
<%= render 'header' %>

<div class="row">
    <div class="span12 main">
        <div class="grouptitle">Lower Northeast</div>
            <table class="table pollslist">

            <% @polls.each_with_index do |poll, i| %>
              <tr onClick="window.location.href='http://localhost:3000/polls/<%= i+1 %>'">
                <td class="number"><%= i+1 %></td>

                <td class="span4 polltext"><%= poll.text %></td>

                <td>
                    <div class="dashboardresponsecount"><%= poll.responses.count %></div>
                    <div class="caption">responses</div>
                </td>

                <td><img src="http://chart.apis.google.com/chart?chf=a,s,000000&chs=100x40&cht=ls&chd=s:degddgjmqxuurruxwrro&chls=1&chf=bg,s,65432100" width="100" height="40" alt="" style="margin-bottom:-1em;"/><br><span class="caption">latest 12 mins ago</span></td>

                <td><%= poll.start_date.to_formatted_s(:short) %><br>Live since <%= time_ago_in_words(poll.start_date, include_seconds = false) %></td>
                
                <td><%= link_to 'Show', poll %>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_poll_path(poll) %></td>

              </tr>
            <% end %>
            </table>

            <br />
            <%= link_to 'New Poll', new_poll_path, :class => "btn btn-large" %>
        </div>
    </div>
</div>