<div class="container">
<%= render 'header' %>

<div class="row">
    <div class="span12 main">
        <div class="grouptitle">Lower Northeast</div>
            <table class="pollslist">

            <% @polls.each_with_index do |poll, i| %>
              <tr>
                <td class="number"><%= i+1 %></td>

                <td class="span4 polltext"><%= poll.text %></td>
                <td><span class="dashboardresponsecount"><%= poll.responses.count %></span><br><span class="caption">responses</span></td>

                <td><%= format_poll_type(poll.poll_type) %></td>
                <td><%= poll.start_date.to_formatted_s(:short) %><br>Live since <%= time_ago_in_words(poll.start_date, include_seconds = false) %></td>
                
                <td><%= link_to 'Show', poll %></td>
                <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
                <td><%= link_to 'Destroy', poll, confirm: 'Are you sure?', method: :delete %></td>
              </tr>
            <% end %>
            </table>

            <br />

            <%= link_to 'New Poll', new_poll_path %>
        </div>
    </div>
</div>