<div class="container">
<%= render 'header' %>

<div class="row">
    <div class="span12 main">
        <div class="grouptitle">Lower Northeast</div>
            <table class="table pollslist">

            <% @polls.each_with_index do |poll, i| %>
              <tr onClick="window.location.href='http://localhost:3000/polls/<%= i+1 %>'">
                <td class="number"><%= i+1 %></td>

                <td class="span4 polltext"><%= poll.text %></td>
                <td><span class="dashboardresponsecount"><%= poll.responses.count %></span><br><span class="caption">responses</span></td>

                <td><%= poll.start_date.to_formatted_s(:short) %><br>Live since <%= time_ago_in_words(poll.start_date, include_seconds = false) %></td>
                
                <td><%= link_to 'Show', poll %>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_poll_path(poll) %></td>

              </tr>
            <% end %>
            </table>

            <br />
            <%= link_to 'New Poll', new_poll_path, :class => "btn btn-large" %>
        </div>
    </div>
</div>