<div class="container">
<%= render 'header' %>

<div class="row">
    <div class="span12 main">
        <div class="grouptitle">Lower Northeast</div>
            <table class="table pollslist">

            <% @polls.each_with_index do |poll, i| %>
              <tr onClick="window.location.href='http://localhost:3000/polls/<%= poll.id %>'">
                <td class="number"><%= i+1 %></td>

                <td class="span4 polltext"><%= poll.text %></td>

                <td>
                    <div class="dashboardresponsecount"><%= poll.responses.count %></div>
                    <div class="caption">responses</div>
                </td>

                <td><%= sparkline poll.time_series %><br><span class="caption">latest 12 mins ago</span></td>

                <td>Live <%= poll.start_date.to_formatted_s(:short) %> &middot; <%= time_ago_in_words(poll.start_date, include_seconds = false) %> ago</td>
                
                <td id="pollactions">
                    <%= link_to(raw('<i class="icon-th-large"></i>Show'), poll) %>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <%= link_to(raw('<i class="icon-pencil"></i>Edit'), edit_poll_path(poll)) %>
                </td>

              </tr>
            <% end %>
            </table>

            <br />
            <%= link_to 'New Poll', new_poll_path, :class => "btn btn-large" %>
        </div>
    </div>
</div>