<div class="container">
<div class="row">
    <div class="span8"><img src="/assets/logo.png"></div>
    <div class="span4 login">Logout</div>
</div>

<div class="container">
  <div class="row">
    <div class="span12 main">
      <div class="grouptitle">Lower Northeast &rsaquo; #2</div>
      <p id="notice"><%= notice %></p>

      <div class="titlequestion">
        <%= @poll.text %>
      </div>

      <p>
        <b>Phone:</b>
        <%= @poll.phone %>
      </p>

      <p>
        <b>Start date:</b>
        <%= @poll.start_date.strftime("%m/%d/%Y at %I:%M%p") %>
      </p>

      <p>
        <b>End date:</b>
        <%= @poll.end_date.strftime("%m/%d/%Y at %I:%M%p") %>
      </p>

      <p>
        <b>Type:</b>
        <%= @poll.poll_type %>
      </p>

      <h3>Responses</h3>
      <ul>
      	<% @poll.responses.each do |resp| %>
      		<li><%= resp.created_at.strftime("%m/%d/%Y at %I:%M%p")%> <%= resp.response %> (<%= resp.from %> )</li>
      	<% end %>
      </ul>

      <%= link_to "Export to csv", request.parameters.merge({:format => :csv})%> |
      <%= link_to 'Edit', edit_poll_path(@poll) %> |
      <%= link_to 'Back', polls_path %>
    </div>
  </div>
</div>