<% choices = {} %>


<div class="row">
  <div class="span12 main">
    <div class="grouptitle"><%= @poll.groups.first.name %> &rsaquo; <%= @poll.title %></div>

    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <ol>
      <% @poll.questions_ordered.each do |q| %>
        <li class="question"><span class="qtext"><%= q.text %></span> <span class="qtype">(<%= q.question_type %>)</span></li>
        <% unless q.options.empty? %>
          <ul class="optionslist">
            <% q.options.each do |o| %>
              <li><span class="optionvalue"><%= o.value %>:</span> <%= o.text %></li>
              <% o.follow_up.each do |fup| %>
                <ul class="optionslist questionindent">
                  <li class="question"><span class="qtext"><%= fup.text %></span> <span class="qtype">(<%= fup.question_type %>)</span></li>
                  <% unless fup.options.empty? %>
                    <ul class="optionslist">
                      <% fup.options.each do |o| %>
                        <li><span class="optionvalue"><%= o.value %>:</span> <%= o.text %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ol>
  </div>
  
  <div class="span3">
    <div class="counterdash">
      <div class="responsecount"><%= @poll.questions.first.responses.count %></div>
      <br>
      <span class="caption">responses</span>
      <br>
      <!--img src="http://chart.apis.google.com/chart?chf=a,s,000000&chs=100x40&cht=ls&chd=s:degddgjmqxuurruxwrro&chls=1&chf=bg,s,65432100" width="100" height="40" alt="" /-->
      <%= sparkline @poll.time_series %>
      <br>
      <span class="caption">latest about <%= format_time @poll.time_since_last_response %> ago</span>
    </div>
  </div>

  <div class="span3">
    <div class="settings">
      <div class="caption">Assigned phone</div>
      <div class="settingstext"><%= number_to_phone(@poll.phone, :area_code => true)[1..-1] %></div>

      <div class="caption">Start date</div>
      <div class="settingstext"><%= @poll.start_date.strftime("%m/%d/%Y at %I:%M%p") %></div>

      <div class="caption">Status</div>
      <div class="settingstext"><%= @poll.running? ? 'Running' : 'Ended' %></div>


      <div class="btngroup edit-poll">
        <!--<input type="button" class="btn btn-danger" value="Close poll">-->
        <% if @poll.running? %>
          <%= link_to 'End poll', end_poll_path(@poll), :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :put %>
        <% end %>
        <%= link_to 'Edit', edit_poll_path(@poll), :class => "btn" %>
        &nbsp;<%= link_to 'Trash', @poll, confirm: 'Are you sure?', method: :delete %>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="summaryviz">
      <div class="caption">Frequently mentioned words</div>
      <%= render "histograms", :poll=>@poll %>
    </div>
  </div>
</div>



<div class="row">
  <div class="span12 horiz"></div>
</div>

<div class="row">
  <div class="span12">
    <div class="download">
      <%= link_to "→ Download CSV", request.parameters.merge({:format => :csv})%>
    </div>
    <h3>Responses</h3>
    <table class="table">
      <tr>
        <th>
          <th>Timestamp</th>
          <% @poll.questions_all.each do |q| %>
            <th><%= q.text %></th>
          <% end %>
          <th>Phone number</th>
        </tr>
        <% @poll.responses_flat.each_with_index do |resp, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= resp[:first_response_created].strftime("%m/%d/%Y at %I:%M%p")%></td>
            <% @poll.questions_all.each do |q| %>
              <td><span class="optionvalue"><%= resp[:texts][q.id] %><% unless q.options.empty? %></span><%= q.get_matching_option(resp[:texts][q.id])? ": #{q.get_matching_option(resp[:texts][q.id])}" : '' %><% end %>
              </td>
            <% end %>
            <td nowrap="nowrap"><%= number_to_phone(resp[:from], :area_code => true)[1..9] %>-XXXX</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
