<div class="container">

<%= render 'header' %>

<div class="row">
  <div class="span12 main">
    <div class="grouptitle">Lower Northeast &rsaquo; #2</div>
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="titlequestion">
      <%= @poll.text %>
    </div>
    <div class="summaryviz">
    placeholder for response graphs and visualizations
    </div>
    
  </div>


  <div class="span3">
    <div class="counterdash">
      <div class="responsecount"><%= @poll.responses.count %></div>
      <br>
      <span class="caption">responses</span>
    </div>
  </div>

  <div class="span3">
    <div class="settings">
      
      <div class="caption">Assigned phone</div>
      <div class="settingstext"><%= number_to_phone(@poll.phone, :area_code => true) %></div>

      <div class="caption">Type</div>
      <div class="settingstext"><%= @poll.poll_type %></div>

      <div class="caption">Start date</div>
      <div class="settingstext"><%= @poll.start_date.strftime("%m/%d/%Y at %I:%M%p") %></div>

      <div class="btngroup">
        <input type="button" class="btn btn-danger" value="Close poll">
        <input type="button" class="btn" value="Edit">
        &nbsp;<%= link_to 'Trash', @poll, confirm: 'Are you sure?', method: :delete %>
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 horiz"></div>
</div>

<div class="row">
  <div class="span12">
    <div class="download">
      <%= link_to "→ Download CSV", request.parameters.merge({:format => :csv})%>
    </div>
    <table class="table">
        <tr>
          <th>
          <th>Timestamp</th>
          <th>Response</th>
          <th>Phone number</th>
        </tr>
    	<% @poll.responses.each_with_index do |resp, i| %>
    		<tr>
          <td><%= i+1 %></td>
          <td><%= resp.created_at.strftime("%m/%d/%Y at %I:%M%p")%></td>
          <td><%= resp.response %></td>
          <td><%= resp.from %></td>
        </tr>
    	<% end %>
    </table>
  </div>
</div>

</div>