<!DOCTYPE html>
<html>
  <head>
    <title>Textizen | Citizen feedback for the digital age, by Code for America</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!--div id="tag">
      <a href="www.codeforamerica.org">
        <img width="100px" border="0" src="/assets/tag_cfa.png">
      </a>
    </div-->
    <div class="container">
      <% if user_signed_in? %>
        <%= render "users/top_bar" %>
      <% else %>
        <%= render "layouts/default_top_bar" %>
      <% end %>

      <%= yield %>
      
      <%= render "layouts/footer" %>

    </div>
  </body>
</html>