<!DOCTYPE html>
<html>
<head>
  <title>TxtyourcityRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render "users/top_bar" %>
  <% else %>
    <%= render "layouts/default_top_bar" %>
  <%end %>
<%= yield %>

</body>
</html>
