<!DOCTYPE html>
<html>
  <head>
    <title>Textizen | Citizen feedback for the digital age, by Code for America</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32126660-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <!--div id="tag">
      <a href="www.codeforamerica.org">
        <img width="100px" border="0" src="/assets/tag_cfa.png">
      </a>
    </div-->
    <div class="container">
      <% if user_signed_in? %>
        <%= render "users/top_bar" %>
      <% else %>
        <%= render "layouts/default_top_bar" %>
      <% end %>
      <%= yield %>
    </div>

  <script type="text/javascript">
    var _sf_async_config={uid:20661,domain:"textizen.com"};
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
           (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
           "js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
  </script>
  </body>
</html>
